
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Ruddra's Blog</title>
    <meta name="description" content="Technical blog by a python developer from Bangladesh">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css?v=aa5824ba5e">

    <link rel="canonical" href="http://ruddra.com/">
    <meta name="referrer" content="origin">
    <link rel="next" href="http://ruddra.com/page/2/">
    
    <meta property="og:site_name" content="Ruddra's Blog">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ruddra's Blog">
    <meta property="og:description" content="Technical blog by a python developer from Bangladesh">
    <meta property="og:url" content="http://ruddra.com/">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Ruddra's Blog">
    <meta name="twitter:description" content="Technical blog by a python developer from Bangladesh">
    <meta name="twitter:url" content="http://ruddra.com/">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "Ruddra's Blog",
    "url": "http://ruddra.com/",
    "description": "Technical blog by a python developer from Bangladesh"
}
    </script>

    <meta name="generator" content="Ghost 0.7">
    <link rel="alternate" type="application/rss+xml" title="Ruddra's Blog" href="http://ruddra.com/rss/">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58095062-1', 'auto');
  ga('send', 'pageview');

</script>
    <link rel="shortcut icon" href="assets/img/favicon.ico?v=aa5824ba5e">
</head>
<body class="home-template">

<div class="container">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Ruddra's Blog</h3>
                        <ul class="nav masthead-nav">
	<li class="nav-Home active" role="presentation"><a href="http://ruddra.com/">Home</a></li>
	<li class="nav-About " role="presentation"><a href="about/">About</a></li>
</ul>

                    </div>
                </div>
                

  <div class="inner cover post post-head">
    <h1 class="cover-heading post-title"><a href="2016/01/11/make-csv-file-using-mysql-and-python/">Make .CSV file using MySQL and Python</a></h1>
  </div>

<div class="inner cover post post-body">
In this blog, I am going to show how to develop an application by which we can make .csv files from MySQL database using Python. Now, let us start by getting data from Database. Lets say we have a DB names csv_test and it contains a table named test
</div>
  <div class="inner cover post post-head">
    <h1 class="cover-heading post-title"><a href="2016/01/03/django-1-7-scrapy/">Django 1.7 + Scrapy</a></h1>
  </div>

<div class="inner cover post post-body">
Today I am going to share how to use Scrapy and Django together to crawl to a website and store scrapped data to Database using Django. First, let us build a Django application using the following commands. pip install django==1.7 django-admin.py startproject example_project cd example_project
</div>
  <div class="inner cover post post-head">
    <h1 class="cover-heading post-title"><a href="2015/09/18/make-a-blog-using-django-part-2/">Make a Blog using Django Part 2</a></h1>
  </div>

<div class="inner cover post post-body">
From previous post, you have configured and ran django, also added admin site to the django.    To view the working source of this tutorial, check here at: https://github.com/ruddra/myblog   Now click on the myblog section and click add to add new blog, which will look like this:
</div>
  <div class="inner cover post post-head">
    <h1 class="cover-heading post-title"><a href="2015/09/18/make-a-blog-using-django-part-1-2/">Make a Blog using Django Part 1</a></h1>
  </div>

<div class="inner cover post post-body">
"Making a blog using django" is probably the most made tutorial of Django. This post is no different. But I made this in my own way using some of django's built-in  features so that less coding is required and making it more understandable with minimum packages to use.     To view
</div>
  <div class="inner cover post post-head">
    <h1 class="cover-heading post-title"><a href="2015/09/18/make-a-blog-using-django-part-1/">Change Column Header Dynamically in Django Tables2</a></h1>
  </div>

<div class="inner cover post post-body">
Django Tables2 is a package which displays table directly from queryset. It shows column header based on object's attribute's name. But if someone wants to override it, how can he/she do that? Here is a easy solution. Suppose we have a model class like this: class SomeModel(models.Model)
</div>


<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 4</span>
        <a class="older-posts" href="page/2/">Older Posts →</a>
</nav>

<div class="inner cover container post post-foot">
</div>



            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <footer class="site-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="http://ruddra.com/rss/"><span class="glyphicon glyphicon-plane"></span> Subscribe</a>

                        <div class="text-muted">
                            <section class="copyright">All content copyright <a href="index.html">Arnab Kumar Shil</a> ©
                                2015 • All rights reserved.
                            </section>
                            <section class="poweredby">Proudly published with <a href="http://ghost.org">Ghost</a>
                            </section>
                            <section class="poweredby">Hosted with love at <a href="http://github.com/ruddra">Github</a>
                            </section>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>



<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.bootstrap-autohidingnavbar.min.js?v=aa5824ba5e"></script>
<script type="text/javascript" src="assets/js/index.js?v=aa5824ba5e"></script>


</body>
